.row
  .col.m8.offset-m2
    #h1.center-align
      Developer Profile
      %br
      = link_to "Edit", edit_user_path(current_user), id: "edit_profile"

.row
  .col.s12.m8.offset-m2.l6.offset-l3
    .card-panel.grey.lighten-5.z-depth-1
      .row.valign-wrapper
        .col.s2
          %img.circle.responsive-img
            =image_tag current_user.image, { class: "circle", alt: "Picture of Developer" }

        .col.s10
          %span.black-text
            #{current_user.name}

      .row
        .col.m12
          .card-panel.center-panel
            %ul
              %li
                %span
                  Name
                  = current_user.name
              %li
                %span
                  Email
                  = current_user.email
              %li
                %span
                  Company Name
                  = current_user.company_name
              %li
                %span
                  Experience
                  = current_user.experience
              %li
                %ul.collection.with-header
                  %li.collection-header
                    %h4 Specialties
                  - current_user.specialties.each do |specialty|
                    %li.collection-item
                      = specialty.specialty_name

