%nav.pad-sides
  .nav-wrapper
    %a.brand-logo{:href => "/"} FooBr
    %a.button-collapse{"data-activates" => "slide-out", :href => "#"}
      %i.mdi-navigation-menu
    %ul#nav.right.flow-text
      -if current_user
        %li.pad-sides.hide-on-med-and-down
          = link_to "#{current_user.role.titlecase} Profile", user_path(current_user), id: "profile"
        %li.pad-sides.hide-on-med-and-down
          "Signed in as"
          = succeed "!" do
            %strong= current_user.name
        %li
          = link_to "Sign out", signout_path, id: "sign_out"
      -else
        %li
          = link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in"
    %ul#slide-out.side-nav.flow-text
      -if current_user
        %li.pad-sides.hide-on-med-and-up.black
          Signed in as
          = succeed "!" do
            %strong= current_user.name
        %li.pad-sides.hide-on-med-and-up
          = link_to "#{current_user.role.titlecase} Profile", user_path(current_user), id: "user_show"
        %li.pad-sides.hide-on-med-and-up
          = link_to "Sign out", signout_path, id: "sign_out"
      -else
        %li
          = link_to "Sign in", "/auth/google_oauth2", id: "sign_in"
